.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 4rem;
    height: 100%;

    button {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        width: 20rem;
        img {
            width: 1.25rem;
            height: 1.25rem;
        }
    }
}
