@use '../../styles/variables.scss' as *;

.text {
  margin: 0;

  &.h1 {
    font-size: $font-size-4xl;
    font-weight: $font-weight-bold;
    line-height: 1.2;
    color: $color-text;
  }

  &.h2 {
    font-size: $font-size-3xl;
    font-weight: $font-weight-bold;
    line-height: 1.3;
    color: $color-text;
  }

  &.h3 {
    font-size: $font-size-2xl;
    font-weight: $font-weight-semibold;
    line-height: 1.3;
    color: $color-text;
  }

  &.h4 {
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
    line-height: 1.4;
    color: $color-text;
  }

  &.body {
    font-size: $font-size-base;
    font-weight: $font-weight-regular;
    line-height: 1.6;
    color: $color-text;
  }

  &.body-sm {
    font-size: $font-size-sm;
    font-weight: $font-weight-regular;
    line-height: 1.5;
    color: $color-text-secondary;
  }

  &.caption {
    font-size: $font-size-xs;
    font-weight: $font-weight-medium;
    line-height: 1.4;
    color: $color-text-tertiary;
  }
}
